html {
  background-color: #bbbbbb;
}
h1 {
  text-align: center;
}
#container { 
  font-size: 18px;
  width: 400px; 
  margin: 50px auto; 
  padding: 20px; 
  background: #ff8370; 
  -moz-box-shadow: 0 0 20px black; 
  -webkit-box-shadow: 0 0 20px black; 
  box-shadow: 0 0 20px black; 
}
#footer {
  position: fixed;
  text-align: center;
  font-size: 12px;
  padding-bottom: 10px;
  left:0px;
  bottom:0px;
  height:30px;
  width:100%;
}